@import "./fonts.scss";

// Bootstrap
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  margin: 0;
  font-size: 14px;
  font-family: "BMS Humanity";
}

a:hover {
  text-decoration: none;
}

.container {
  padding: 0;
}

header {
  .header-top {
    background-color: #EEE7E7;

    .warning {
      text-align: center;
      padding: 9px 0;
      display: block;
      line-height: 1;
    }
  }

  .header-bottom {
    .navbar {
      padding: 0 1rem;

      .navbar-brand {
        padding: 0 0 0 2rem;
        display: flex;
        align-items: center;

        .nav-link {
          padding: 0;
        }

        .header-at {
          color: #BE2BBB;
          font-weight: 300;
          font-size: 24px;
          margin: 0.5rem 0 0 3rem;
        }
      }

      .nav-link {
        color: #595454;
      }
    }
  }
}

.carousel {
  .carousel-slide {
    max-height: 700px;
    background-position: center center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vw / 2.75);
    color: #595454;

    .home-slide-1-welcome {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
    }

    h2 {
      font-size: 60px;
      font-weight: 200;
      margin: 0 0 3rem;
      line-height: 1;
      max-width: 600px;
    }

    .home-slide-1-h2 {
      margin: 0 0 2rem;
    }

    .home-slide-1-latest {
      font-size: 28px;
      font-weight: 200;
      max-width: 480px;
      margin: 0;
    }

    button {
      background-color: #BE2BBB;
      color: #ffffff;
      border: 0;
      border-radius: 23px;
      height: 45px;
      width: 194px;
      font-size: 18px;
    }

    .home-slide-2-not-patient {
      position: absolute;
      bottom: 0.5rem;
      right: 5%;
      font-size: 20px;
    }

    .home-slide-3-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
    }

    .home-slide-3-not-patient {
      position: absolute;
      bottom: 0.5rem;
      left: 2%;
      font-size: 20px;
    }
  }

  .carousel-indicators {
    height: 10px;
    margin-bottom: 0;
    bottom: 1rem;

    li {
      width: 64px;
      height: 10px;
      border-radius: 14px;
      opacity: 1;
      background-clip: unset;
      border: 0;
      margin: 0 1rem;
    }

    li.active {
      background: #707070;
    }
  }
}

.homepage-cards-wrapper {
  background-color: #F5F0F0;
  padding: 7.5rem 0 5rem;
  color: #595454;

  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;

    .homepage-card {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      padding: 1.75rem 2.5rem 2.25rem;
      border-top: 10px solid rgb(238, 231, 231);
      box-shadow: 0 2px 2px 0 #f2e7e7, 0 2px 2px 0 #f2e7e7;

      h3 {
        font-size: 32px;
        font-weight: 200;
      }

      img {
        max-height: 132px;
        max-width: 132px;
        margin: 3rem auto;
      }

      .homepage-card-3-image {
        margin: 1.25rem auto 2rem;
      }

      .homepage-card-links {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          line-height: 1.6;
          a {
            color: #BE2BBB;
            font-size: 22px;
            font-weight: 300;
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
              margin: 0 0 0 0.5rem;
            }
          }
        }
      }
    }
  }
}

.homepage-cards-middle-wrapper {
  padding: 7.5rem 0;

  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;

    .homepage-middle-card {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      padding: 1.75rem 2.5rem 2.25rem;
      border-top: 10px solid rgb(210, 202, 200);
      box-shadow: 0 0 2px 0 #f2e7e7, 0 0 2px 0 #f2e7e7;

      h3 {
        margin: 0;
        font-weight: 600;
      }

      .homepage-middle-card-line {
        width: 64px;
        border: 3px solid #A69F9F;
        border-radius: 3px;
        margin: 1.5rem 0 3.25rem 0;
      }

      .homepage-middle-card-link {
        color: #BE2BBB;
        font-size: 22px;
        font-weight: 300;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          margin: 0 0 0 0.5rem;
        }
      }
    }
  }
}

.homepage-cards-bottom-wrapper {
  padding: 7.5rem 0;
  background-color: rgb(254, 246, 244);

  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2.5rem;

    .homepage-bottom-card {
      display: flex;
      flex-direction: column;
      background-color: #EEE7E7;
      padding: 3.75rem 3rem 4rem;

      h3 {
        font-size: 32px;
        font-weight: 300;
        margin: 0 0 1.25rem;
        color: #595454;
      }

      a {
        background-color: #BE2BBB;
        color: #ffffff;
        border: 0;
        border-radius: 23px;
        height: 35px;
        width: 140px;
        font-size: 18px;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.handholding-section {
  max-height: 435px;
  background-position: center center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vw / 4.4);

  h2 {
    text-align: left;
    max-width: 570px;
    font-weight: 100;
    float: right;
    font-size: 52px;
  }

  .trade-icon {
    font-size: 28px;
    font-weight: 300;
    top: -16px;
  }
}

footer {
  background-color: #EEE7E7;
  color: #595454;

  .footer-top {
    padding: 2rem 0;

    .footer-top-left {
      p {
        margin: 0;
      }
    }

    .footer-top-right {
      float: right;

      p {
        font-size: 16px;
        font-weight: 600;
        margin: 1rem 0;
      }

      .social-icons-wrapper {
        height: 22px;

        a {
          color: #595454;

          &:not(:last-of-type) {
            margin-right: 0.75rem;
          }

          svg {
            height: 22px;
            width: 22px;
          }
        }
      }
    }

    .footer-top-links-wrapper {
      ul {
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: 0.5rem 0 1rem;

        li {
          padding: 0 3rem;

          &:not(:last-of-type) {
            border-right: 3px solid #595454;
          }

          a {
            color: #595454;
          }
        }
      }
    }
  }

  .footer-bottom {
    border-top: 6px solid #999999;

    span {
      padding: 0.5rem 0;
      display: block;
      text-align: center;
    }
  }
}

.modal-homepage-wrapper {
  .modal-dialog {
    max-width: 524px;

    .modal-header {
      border-bottom: 0;
      padding: 1rem;
      display: flex;
      justify-content: flex-end;

      button {
        color: #BE2BBB;
        opacity: 1;
        padding: 0;
        margin: 0;
        height: 14px;
        width: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        font-weight: 300;
      }
    }

    .modal-body {
      padding: 6.75rem 5rem 9rem;

      ul.homepage-modal-links {
        padding: 0;
        margin: 0;

        li {
          list-style-type: none;

          &:not(:last-of-type) {
            margin: 0 0 1rem;
          }

          a {
            font-size: 22px;
            color: #BE2BBB;
            font-weight: 300;
          }
        }

      }
    }
  }
}

.scroll-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  color: #BE2BBB;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  font-weight: 300;

  svg {
    font-size: 1.75rem;
    font-weight: 100;
    height: 22px;
    line-height: 1;
  }

  span {
    line-height: 1;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
