@import "./fonts.scss";

// Bootstrap
@import "~bootstrap/dist/css/bootstrap.css";

$pink-color: #BE2BBB;

html, body {
  margin: 0;
  font-size: 14px;
  font-family: "BMS Humanity";
  color: #595454;
}

video {
  max-width: 100%;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.container {
  padding: 0;
}

.blurry-background {
  filter: blur(15px);
}

.button-pink {
  background-color: $pink-color;
  color: #ffffff;
  border: 0;
  border-radius: 23px;
  height: 45px;
  width: 194px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:not(:disabled):not(.disabled):focus, &:not(:disabled):not(.disabled):active {
    background-color: $pink-color;
  }

  &:hover {
    color: #ffffff;
    background-color: $pink-color;
  }

  .icon-link-click {
    position: absolute;
    right: 1rem;
  }
}

.gray-download-icon-button {
  background-color: #EEE7E7;
  color: #595454;
  border: 0;
  border-radius: 23px;
  height: 45px;
  min-width: 464px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:not(:disabled):not(.disabled):focus, &:not(:disabled):not(.disabled):active {
    background-color: #EEE7E7;
  }

  &:hover {
    color: #595454;
    background-color: #EEE7E7;
  }

  img {
    position: absolute;
    right: 1rem;
  }
}

.button-dark {
  background-color: #585454;
  color: #ffffff;
  border: 0;
  border-radius: 23px;
  height: 45px;
  width: 194px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:disabled):not(.disabled):focus, &:not(:disabled):not(.disabled):active {
    background-color: #585454;
  }

  &:hover {
    color: #ffffff;
    background-color: #585454;
  }
}

body .arrow-link-pink {
  color: $pink-color;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    margin: 0 0 0 0.5rem;
  }

  &:hover {
    color: $pink-color;
  }
}

.pink-circle {
  background-color: $pink-color;
  color: #ffffff;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &:hover {
    color: #ffffff;
  }
}

header {
  .header-top {
    background-color: #EEE7E7;

    .warning {
      text-align: center;
      padding: 9px 0;
      display: block;
      line-height: 1;
    }
  }

  .header-bottom {
    .navbar {
      padding: 0 1rem;

      .navbar-brand {
        padding: 0 0 0 2rem;
        display: flex;
        align-items: center;

        .nav-link {
          padding: 0;
        }

        .header-at {
          color: $pink-color;
          font-weight: 300;
          font-size: 24px;
          margin: 0.5rem 0 0 3rem;
        }
      }

      .nav-link {
        color: #595454;
        padding: 0.5rem 1rem;
      }
    }
  }
}

.carousel-homepage {
  .carousel-slide {
    max-height: 700px;
    background-position: center center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vw / 2.75);
    color: #595454;

    .home-slide-1-welcome {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
    }

    h2 {
      font-size: 60px;
      font-weight: 300;
      margin: 0 0 2.5rem;
      line-height: 1;
      max-width: 600px;
    }

    .home-slide-1-h2 {
      margin: 0.5rem 0 1.5rem;
    }

    .home-slide-1-latest {
      font-size: 28px;
      font-weight: 300;
      max-width: 540px;
      margin: 0 0 2rem;
      line-height: 1.3;
    }

    .home-slide-2-not-patient {
      position: absolute;
      bottom: 0.5rem;
      right: 5%;
      font-size: 20px;
    }

    .home-slide-3-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
    }

    .home-slide-3-not-patient {
      position: absolute;
      bottom: 0.5rem;
      left: 2%;
      font-size: 20px;
    }

    .home-slide-4-h2 {
      max-width: 400px;
    }
  }
}

.carousel-indicators {
  height: 10px;
  margin-bottom: 0;
  bottom: 1rem;

  li {
    width: 64px;
    height: 10px;
    border-radius: 14px;
    opacity: 1;
    background-clip: unset;
    border: 0;
    margin: 0 1rem;
  }

  li.active {
    background: #707070;
  }
}

.homepage-cards-wrapper {
  background-color: #F5F0F0;
  padding: 7.5rem 0 5rem;
  color: #595454;

  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;

    .homepage-card {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      padding: 1.75rem 2.5rem 2.25rem;
      border-top: 10px solid rgb(238, 231, 231);
      box-shadow: 0 2px 2px 0 #f2e7e7, 0 2px 2px 0 #f2e7e7;

      h3 {
        font-size: 30px;
        font-weight: 300;
      }

      > img {
        max-height: 132px;
        max-width: 132px;
        margin: 3rem auto;
      }

      .homepage-card-3-image {
        margin: 1.25rem auto 2rem;
      }

      .homepage-card-links {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          line-height: 1.6;
        }
      }
    }
  }
}

.homepage-cards-middle-wrapper {
  padding: 7.5rem 0;

  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;

    .homepage-middle-card {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      padding: 1.75rem 2.5rem 2.25rem;
      border-top: 10px solid rgb(210, 202, 200);
      box-shadow: 0 0 2px 0 #f2e7e7, 0 0 2px 0 #f2e7e7;

      h3 {
        margin: 0;
        font-weight: 600;
      }

      .homepage-middle-card-line {
        width: 64px;
        border: 3px solid #A69F9F;
        border-radius: 3px;
        margin: 1.5rem 0 3.25rem 0;
        background-color: #A69F9F;
      }
    }
  }
}

.homepage-cards-bottom-wrapper {
  padding: 7.5rem 0;
  background-color: rgb(254, 246, 244);

  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2.5rem;

    .homepage-bottom-card {
      display: flex;
      flex-direction: column;
      background-color: #EEE7E7;
      padding: 3.75rem 3rem 4rem;

      h3 {
        font-size: 32px;
        font-weight: 300;
        margin: 0 0 1.25rem;
        color: #595454;
      }

      .button-pink {
        height: 35px;
      }
    }
  }
}

.handholding-section {
  max-height: 435px;
  background-position: center center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vw / 4.4);

  h2 {
    text-align: left;
    max-width: 570px;
    font-weight: 300;
    float: right;
    font-size: 52px;
  }

  .trade-icon {
    font-size: 28px;
    font-weight: 300;
    top: -16px;
  }
}

footer {
  background-color: #EEE7E7;
  color: #595454;

  .footer-top {
    padding: 2rem 0;

    .footer-top-left {
      p {
        margin: 0;
      }
    }

    .footer-top-right {
      float: right;

      p {
        font-size: 16px;
        font-weight: 600;
        margin: 1rem 0;
      }

      .social-icons-wrapper {
        height: 22px;

        a {
          color: #595454;

          &:not(:last-of-type) {
            margin-right: 0.75rem;
          }

          svg {
            height: 22px;
            width: 22px;
          }
        }
      }
    }

    .footer-top-links-wrapper {
      ul {
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: 0.5rem 0 1rem;

        li {
          padding: 0 3rem;

          &:not(:last-of-type) {
            border-right: 3px solid #595454;
          }

          a {
            color: #595454;
          }
        }
      }
    }
  }
}

.modal-homepage-wrapper {
  .modal-dialog {
    max-width: 524px;

    .modal-header {
      border-bottom: 0;
      padding: 1rem;
      display: flex;
      justify-content: flex-end;

      button {
        color: $pink-color;
        opacity: 1;
        padding: 0;
        margin: 0;
        height: 14px;
        width: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        font-weight: 300;
      }
    }

    .modal-body {
      padding: 6.75rem 5rem 9rem;

      ul.homepage-modal-links {
        padding: 0;
        margin: 0;

        li {
          list-style-type: none;

          &:not(:last-of-type) {
            margin: 0 0 1rem;
          }

          a {
            font-size: 22px;
            color: $pink-color;
            font-weight: 300;
          }
        }

      }
    }
  }
}

.scroll-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  color: $pink-color;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  font-weight: 300;

  svg {
    font-size: 1.75rem;
    font-weight: 100;
    height: 22px;
    line-height: 1;
    margin-top: 4px;
  }

  span {
    line-height: 1;
  }
}

.marker-lady-wrapper {
  max-height: 384px;
  background-position: center center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vw / 5);

  h1 {
    font-size: 60px;
    font-weight: 300;
    max-width: 400px;
    line-height: 1.1;
  }
}

.abstracts-cards {
  padding: 7.5rem 0;
  color: #707070;

  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2.5rem;

    .abstract-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #F5F0F0;
      padding: 2.5rem;
      font-family: 'Open Sans', sans-serif;

      .name, .type, .number {
        font-weight: 800;
        margin: 0;
      }

      .description {
        font-size: 20px;
        margin: 0 0 2rem;
        line-height: 1.4;
      }
    }
  }
}

.smiling-guy-wrapper {
  max-height: 405px;
  background-position: center center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vw / 4.75);

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .content-wrapper {
      max-width: 460px;
      padding: 0 170px 0 0;

      h2 {
        font-size: 32px;
        font-weight: 300;
        line-height: 1.1;
        margin: 0 0 1rem;
      }
    }

    .medicines-smiling-guy-content-wrapper {
      max-width: 520px;
      padding: 0 150px 0 0;

      p {
        font-size: 32px;
        font-weight: 300;
        line-height: 1.1;
      }
    }
  }
}

.banner-theater-schedule-wrapper {
  max-height: 384px;
  background-position: center center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vw / 5);

  h1 {
    font-size: 60px;
    font-weight: 300;
    max-width: 400px;
    line-height: 1.1;
  }
}

.product-theater-schedule-cards {
  padding: 5rem 0 7.5rem;
  color: #707070;

  .product-theater-schedule-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F5F0F0;
    padding: 2.5rem 2.5rem 2rem;

    p {
      margin: 0;
    }

    .speaker-name {
      font-weight: 700;
      font-family: 'Open Sans', sans-serif;
    }

    .event-name {
      font-size: 28px;
      min-height: 9rem;
      font-family: 'Open Sans', sans-serif;
    }

    .date {
      font-size: 22px;
      font-weight: 600;
    }

    .arrow-link-pink {
      justify-content: flex-end;
    }
  }
}

.carousel-our-medicines {
  .carousel-slide {
    max-height: 384px;
    background-position: center center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vw / 5);
    color: #595454;

    .our-medinices-slide-1-h2 {
      font-size: 60px;
      font-weight: 300;
    }

    .our-medinices-slide-2-h2 {
      font-size: 42px;
      font-weight: 300;
      max-width: 580px;
      margin-bottom: 0.75rem;
    }

    .our-medinices-slide-3-h2 {
      font-size: 42px;
      color: #ffffff;
      margin: 0;
    }

    .our-medinices-slide-3-p {
      color: #ffffff;
      font-size: 28px;
      font-weight: 100;
      max-width: 630px;
    }

    .our-medinices-slide-3-button {
      color: #ffffff;
      background-color: #F26322;
      height: 45px;
      border-radius: 23px;
      width: 256px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.section-medicines-top {
  padding: 4rem 0;

  .arrow-link-pink {
    sup {
      font-size: 1rem;
    }
  }
}

.section-medicines-cards {
  padding: 0 0 4rem;
  color: #595454;

  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;

    .card-fullwidth {
      grid-column: auto / span 2;
      .medicines-inner {
        a {
          padding: 1.75rem 0 3.75rem;
        }
      }
    }

    .medicines-card {
      .medicines-inner {
        border-top: 10px solid #EEE7E7;
        box-shadow: 0 0 6px 1px #f2e7e7;
        display: flex;
        justify-content: center;
        min-height: 220px;

        a {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            max-width: 100%;
          }
        }

        .medicines-inner-abrax {
          width: 77%;
        }
      }

      h3 {
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 1rem 0 0;

        sup {
          font-size: 1rem;
        }
      }
    }
  }
}

.banner-our-research {
  max-height: 384px;
  background-position: center center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vw / 5);
  color: #595454;

  h1 {
    font-size: 60px;
    font-weight: 300;
    max-width: 400px;
    line-height: 1.1;
  }
}

.research-cards-wrapper {
  color: #595454;
  padding: 3rem 0;

  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;

    .research-card {
      display: flex;
      flex-direction: column;
      background-color: #EEE7E7;
      padding: 2.75rem 3.5rem 3.25rem;
      color: #595454;

      .now-enrolling-heading {
        font-size: 32px;
        font-weight: 300;
        margin: 0 0 1rem;
      }

      p {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.25;
      }

      .quick-links-underline {
        font-size: 22px;
        font-weight: 800;
        text-transform: uppercase;
        border-bottom: 3px solid $pink-color;
        padding: 0 0 0.25rem;
        margin: 0 0 2rem;
      }

      .research-card-links {
        padding: 0;
        list-style-type: none;
      }
    }
  }
}

.bristol-myers-wrapper {
  color: #595454;

  .container:not(.section-border-top) {
    padding: 3rem 0 1rem;

    .bristol-myers-first-line-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 32px;
        font-weight: 300;
      }
    }

    .oncology-research {
      font-size: 24px;
      font-weight: 300;
      margin: 2rem 0 1rem;
    }

    p {
      font-size: 16px;
    }
  }
}

.pathway-categories-section {
  .pathway-categories-section-name {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 32px;
      font-weight: 300;
      margin: 0;
      padding: 1rem 0;
    }

    .related-resources {
      color: $pink-color;
    }
  }

  .pathway-categories-wrapper {
    padding: 0 0 3rem;

    .pathway-category {
      display: flex;

      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }

      .text-content-wrapper {
        padding: 1.5rem 2rem 1.5rem 1rem;

        h4 {
          font-size: 24px;
          font-weight: 300;
          margin-bottom: 1rem;

          sup {
            font-size: 50%;
          }
        }

        p {
          font-size: 16px;
          margin: 0 0 1.5rem;
          line-height: 1.25;
        }
      }
    }
  }
}

.related-resources-section {
  h2 {
    font-size: 32px;
    font-weight: 300;
    margin: 3rem 0;
  }

  .related-resources-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
    padding: 0 0 1rem;

    .related-resource {
      display: flex;
      flex-direction: column;

      .related-resource-image-wrapper {
        position: relative;

        .resource-type {
          background-color: #ffffff;
          position: absolute;
          top: 1rem;
          left: 1rem;
          padding: 0.25rem 0.5rem 0.1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 1;
          border-radius: 3px;

          svg {
            color: #A69F9F;
            font-size: 0.75rem;
            margin: 0 0.5rem 2px 0;
          }

          span {
            line-height: 1;
            font-size: 12px;
            font-weight: 800;
            text-transform: uppercase;
          }
        }
      }

      .text-content-wrapper {
        padding: 2rem 1.5rem;
        display: flex;
        flex-direction: column;
        flex: 1;

        h4 {
          font-size: 22px;
          line-height: 1;
          margin-bottom: 1rem;
        }

        p {
          font-size: 16px;
          line-height: 1;
          margin-bottom: 1rem;
        }

        a {
          flex: 1;
          align-items: flex-end;
          justify-content: flex-end;

          img {
            margin: 0 0 12px 0.5rem;
          }
        }
      }
    }
  }
}

.references-section {
  p {
    margin: 3rem 0 4rem;
    font-size: 16px;
    line-height: 1.25;
  }
}

.section-border-top {
  border-top: 4px solid #EEE7E7;
  border-bottom: 4px solid #EEE7E7;
  border-radius: 4px;
  background-color: #EEE7E7;
}

.page-not-found-section {
  padding: 5rem 0;
}

.hematology-our-medicines-wrapper {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vw / 1.77777778);

  .hematology-our-medicines-header {
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-wrapper {
      position: absolute;
      left: 2%;
      max-height: 100%;

      img {
        height: 100%;
      }
    }

    span {
      font-size: 1.25rem;
      font-weight: 400;
    }
  }

  .main-area {
    height: 80%;
    width: 100%;
    position: relative;

    .main-area-wrapper {
      width: 100%;
      height: 100%;
      padding: 0 7%;
      position: absolute;

      .main-area-wrapper-inner {
        width: 100%;
        height: 100%;
        position: relative;

        h1 {
          position: absolute;
          top: 9.5%;
          left: 23.5%;
          font-size: 3.25rem;
          margin: 0;
        }

        .bms-access-support-wrapper {
          position: absolute;
          top: 5%;
          left: 64.75%;
          width: 11%;
          height: 16%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;

          span {
            color: $pink-color;
            display: block;
            max-width: 60px;
            line-height: 1.25;
            font-size: 1.25rem;
          }

          .pink-circle {
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }

        .contact-us-wrapper {
          position: absolute;
          top: 3.25%;
          left: 82.25%;
          width: 11.25%;
          height: 19%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;

          span {
            color: $pink-color;
            display: block;
            line-height: 1.25;
            font-size: 1.5rem;
          }

          .pink-circle {
            position: absolute;
            bottom: 5%;
            left: 0;
          }
        }

        .link-wrapper {
          cursor: pointer;
          position: absolute;

          &:hover {
            border: 5px solid $pink-color;
            color:$pink-color;
          }
        }

        .abecma-wrapper {
          top: 25.25%;
          left: 4%;
          width: 22.25%;
          height: 25%;
        }

        .breyanzi-wrapper {
          top: 25.25%;
          left: 27.25%;
          width: 22.25%;
          height: 25%;
        }

        .reblozyl-wrapper {
          top: 25.25%;
          left: 50.5%;
          width: 22.25%;
          height: 25%;
        }

        .onureg-wrapper {
          top: 25.25%;
          left: 73.75%;
          width: 22.25%;
          height: 25%;
        }

        .revlimid-wrapper {
          top: 52.25%;
          left: 3.75%;
          width: 16.25%;
          height: 18%;
        }

        .pomalyst-wrapper {
          top: 52.25%;
          left: 21.5%;
          width: 16.25%;
          height: 18%;
        }

        .empliciti-wrapper {
          top: 52.25%;
          left: 39.25%;
          width: 16.25%;
          height: 18%;
        }

        .r2-wrapper {
          top: 52.25%;
          left: 56.5%;
          width: 16.25%;
          height: 18%;
        }

        .inrebic-wrapper {
          top: 74%;
          left: 3.75%;
          width: 16.25%;
          height: 18%;
        }

        .sprycel-wrapper {
          top: 74%;
          left: 21.5%;
          width: 16.25%;
          height: 18%;
        }

        .idhifa-wrapper {
          top: 74%;
          left: 39%;
          width: 16.25%;
          height: 18%;
        }
      }
    }
  }

  .hematology-our-medicines-footer {
    height: 11%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    p.info {
      font-size: 1.28vw;
      text-align: center;
      margin: 0.25rem 0 0;
      line-height: 1.5;
    }

    p.copyright-info {
      margin: 0.5rem 0 0;
      font-size: 1.25rem;
    }

    .back-to-home {
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      height: 41px;
      width: 236px;

      img {
        margin: 0 1rem 0 0;
      }
    }

    .privacy-policy-btn {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      height: 41px;
    }
  }
}

.hematology-our-research-wrapper {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vw / 1.77777778);

  .hematology-our-research-header {
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-wrapper {
      position: absolute;
      left: 2%;
      max-height: 100%;

      img {
        height: 100%;
      }
    }
  }

  .main-area {
    height: 80%;
    width: 100%;
    position: relative;

    .main-area-wrapper {
      width: 100%;
      height: 100%;
      padding: 0 7%;
      position: absolute;

      .main-area-wrapper-inner {
        width: 100%;
        height: 100%;
        position: relative;

        h1 {
          position: absolute;
          top: 9.5%;
          left: 26.5%;
          font-size: 3.25rem;
          margin: 0;
        }

        .scientific-resources-wrapper {
          position: absolute;
          top: 56%;
          left: 73%;
          width: 11.5%;
          height: 24%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          span {
            font-size: 1.5rem;
            max-width: 100px;
            text-align: center;
            line-height: 1.25;
          }

          .pink-circle {
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        .medical-information-wrapper {
          position: absolute;
          top: 88.5%;
          left: 61%;
          width: 36%;
          height: 7%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          padding: 0 4% 0 0;

          span {
            font-size: 2.25rem;
            font-weight: 600;
          }

          .pink-circle {
            position: absolute;
            right: 0;
          }
        }

        .link-wrapper {
          cursor: pointer;
          border: 5px solid transparent;
          position: absolute;

          &:hover {
            border: 5px solid $pink-color;
          }

          h2 {
            margin: 0 0 0.25rem;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            color: #595454;
          }

          &:hover {
            > h2 {
              color: $pink-color;
            }
          }
        }

        .myeloid-disease-wrapper {
          top: 24%;
          left: 4.25%;
          width: 21.5%;
          height: 28.5%;
        }

        .lymphoma-wrapper {
          top: 24%;
          left: 27%;
          width: 21.5%;
          height: 28.5%;
        }

        .multiple-myeloma-wrapper {
          top: 24%;
          left: 49.75%;
          width: 21.5%;
          height: 28.5%;
        }

        .cereblon-modulation-wrapper {
          top: 24%;
          left: 72.5%;
          width: 21.5%;
          height: 28.5%;
        }

        .car-t-cell-therapy-wrapper {
          top: 56.5%;
          left: 4.25%;
          width: 21.5%;
          height: 28.5%;
        }

        .our-pipeline-wrapper {
          top: 56.5%;
          left: 27%;
          width: 21.5%;
          height: 28.5%;
        }

        .our-clinical-trials-wrapper {
          top: 56.5%;
          left: 49.75%;
          width: 21.5%;
          height: 28.5%;
        }

        // Hematology Research - Sub-Pages
        //CAR T CELL

        .cartc-medinfo {
          left: 58%;
        }

        .targeting-bcma-cart-wrapper {
          top: 21.5%;
          left: 4.5%;
          width: 18%;
          height: 35%;

          h2 {
            font-size: 1.1vw !important;
            margin-bottom: 8%;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .targeting-bcma-cart-img {
          width: 100%;
          margin-top: 8%;
        }

        .idecabtagene-vicleucel-cart-wrapper {
          top: 21.5%;
          left: 24.8%;
          width: 18%;
          height: 35%;

          h2 {
            font-size: 1.1vw !important;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .idecabtagene-vicleucel-cart-img {
          width: 70%;
          margin: 8% 17% 0;
        }

        .cart-additional-clinical-trials-wrapper {
          position: absolute;
          top: 61%;
          left: 10%;
          width: 11.5%;
          height: 24%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          span {
            font-size: 1.5rem;
            max-width: 100px;
            text-align: center;
            line-height: 1.25;
          }

          .pink-circle {
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        .cart-scientific-resources-wrapper {
          position: absolute;
          top: 61%;
          left: 26.5%;
          width: 11.5%;
          height: 24%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          span {
            font-size: 1.5rem;
            max-width: 100px;
            text-align: center;
            line-height: 1.25;
          }

          .pink-circle {
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        //Cereblon Modulation
        .targeting-protein-cereblon-wrapper {
          top: 21.5%;
          left: 4.5%;
          width: 18%;
          height: 35%;

          h2 {
            font-size: 1.1vw !important;
          }

          &:hover {
            color:$pink-color;
          }
        }

        .targeting-protein-cereblon-img {
          width:70%;
          margin: 8% 15% 0;
        }

        .cereblon-modulation-cereblon-wrapper {
          top: 21.5%;
          left: 24.5%;
          width: 18%;
          height: 35%;

          h2 {
            font-size: 1.3vw !important;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .cereblon-modulation-cereblon-img {
          width: 100%;
          margin-top: 8%;
        }

        .CC-99282-cereblon-wrapper {
          top: 59.5%;
          left: 4.5%;
          width: 18%;
          height: 36.5%;

          h2 {
            font-size: 1vw !important;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .CC-99282-cereblon-img {
          width: 100%;
          margin-top: 12%;
        }

        .iberdomide-cereblon-wrapper {
          top: 59.5%;
          left: 24.5%;
          width: 18%;
          height: 36.5%;

          h2 {
            font-size: .9vw !important;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .iberdomide-cereblon-img {
          width: 100%;
          margin: 15% 0 0;
        }

        .cereblon-additional-clinical-trials-wrapper {
          position: absolute;
          top: 59%;
          left: 50%;
          width: 11.5%;
          height: 24%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          span {
            font-size: 1.5rem;
            max-width: 100px;
            text-align: center;
            line-height: 1.25;
          }

          .pink-circle {
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        .cereblon-scientific-resources-wrapper {
          position: absolute;
          top: 60%;
          left: 66.5%;
          width: 11.5%;
          height: 24%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          span {
            font-size: 1.5rem;
            max-width: 100px;
            text-align: center;
            line-height: 1.25;
          }

          .pink-circle {
            position: absolute;
            top: 0;
            right: 0;
          }
        }


        //Multiple Myeloma
        .targeting-protein-wrapper {
          top: 21.5%;
          left: 4.5%;
          width: 18%;
          height: 35%;

          h2 {
            font-size: 1.1vw !important;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .targeting-protein-img {
          width: 70%;
          margin: 14% 15% 0;
        }

        .cereblon-modulation-in-multiple-myeloma-wrapper {
          top: 21.5%;
          left: 24.5%;
          width: 18%;
          height: 35%;

          h2 {
            font-size: 1.3vw !important;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .cereblon-modulation-in-multiple-myeloma-img {
          width: 100%;
          margin-top: 8%;
        }

        .targeting-BCMA-in-multiple-myeloma-wrapper {
          top: 21.5%;
          left: 45.3%;
          width: 18%;
          height: 35%;

          h2 {
            font-size: 1.2vw !important;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .targeting-BCMA-in-multiple-myeloma-img {
          width: 100%;
          margin-top: 8%;
        }

        .clinical-trial-Idecabtagene-vicleucel-in-multiple-myeloma-wrapper {
          top: 60%;
          left: 4.5%;
          width: 18%;
          height: 36%;

          h2 {
            font-size:1.1vw !important;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .clinical-trial-Idecabtagene-vicleucel-in-multiple-myeloma-img {
          width: 100%;
          margin-top: 8%;
        }

        .multiple-myeloma-additional-clinical-trials-wrapper {
          position: absolute;
          top: 61%;
          left: 35%;
          width: 11.5%;
          height: 24%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          span {
            font-size: 1.5rem;
            max-width: 100px;
            text-align: center;
            line-height: 1.25;
          }

          .pink-circle {
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        .multiple-myeloma-scientific-resources-wrapper {
          position: absolute;
          top: 61%;
          left: 51.5%;
          width: 11.5%;
          height: 24%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          span {
            font-size: 1.5rem;
            max-width: 100px;
            text-align: center;
            line-height: 1.25;
          }

          .pink-circle {
            position: absolute;
            top: 0;
            right: 0;
          }
        }


        //Lymphoma
        .nhl-and-cll-wrapper {
          top: 21%;
          left: 4.5%;
          width: 18%;
          height: 36%;

          h2 {
            font-size: 1.3vw !important;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .nhl-and-cll-img {
          width: 100%;
          margin-top: 8%;
        }

        .targets-nhl-and-cll-wrapper {
          top: 21%;
          left: 25%;
          width: 18%;
          height: 36%;

          h2 {
            font-size: 1.3vw !important;
            margin-bottom: 8%;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .targets-nhl-and-cll-img {
          width: 100%;
          margin-top: 8%;
        }

        .iberdomide-wrapper {
          top: 60%;
          left: 4.5%;
          width: 18%;
          height: 36%;

          h2 {
            font-size: 1vw !important;
            margin-bottom: 6%;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .iberdomide-img {
          width: 100%;
          margin-top: 8%;
        }

        .CC-99282-wrapper {
          top: 60%;
          left: 24.7%;
          width: 18%;
          height: 36%;

          h2 {
            font-size: 1vw !important;
            margin-bottom: 6%;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .CC-99282-img {
          width: 100%;
          margin-top: 8%;
        }

        .lymphoma-additional-clinical-trials-wrapper {
          position: absolute;
          top: 61%;
          left: 50%;
          width: 11.5%;
          height: 24%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          span {
            font-size: 1.5rem;
            max-width: 100px;
            text-align: center;
            line-height: 1.25;
          }

          .pink-circle {
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        .lymphoma-scientific-resources-wrapper {
          position: absolute;
          top: 61%;
          left: 66.5%;
          width: 11.5%;
          height: 24%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          span {
            font-size: 1.5rem;
            max-width: 100px;
            text-align: center;
            line-height: 1.25;
          }

          .pink-circle {
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        //Myeloid Disease Subpage
        .myelofibrosis-mechanism {
          top: 21.6%;
          left: 4.2%;
          width: 18.2%;
          height: 35%;

          h2 {
            font-size: 1.2vw !important;
            margin-bottom: 0.5rem;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .myelofibrosis-mechanism-img {
          width: 100%;
          margin-top: 8%;
        }

        .fedratinib-wrapper {
          top: 60.2%;
          left: 4.5%;
          width: 18%;
          height: 35.5%;

          h2 {
            font-size: 1.2vw !important;
            margin-bottom: 0.5rem;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .fedratinib-img {
          width: 100%;
          margin-top: 12%;
        }

        .luspatercept-erythropoiesis-wrapper {
          top: 60.2%;
          left: 24.5%;
          width: 18%;
          height: 35.5%;

          h2 {
            font-size: 1.2vw !important;
            margin-bottom: 0.5rem;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .luspatercept-erythropoiesis-img {
          width: 70%;
          margin: 6% 17% 0;
        }

        .luspatercept-mpn-wrapper {
          top: 60.2%;
          left: 45.2%;
          width: 18%;
          height: 35.5%;

          h2 {
            font-size: 1.1vw !important;
            margin-bottom: 0.5rem;
          }

          &:hover {
            color: $pink-color;
          }
        }

        .luspatercept-mpn-img {
          width: 70%;
          margin: 2% 17% 0;
        }

        .additional-clinical-trials-wrapper {
          position: absolute;
          top: 28%;
          left: 32%;
          width: 11.5%;
          height: 24%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          span {
            font-size: 1.5rem;
            max-width: 100px;
            text-align: center;
            line-height: 1.25;
          }

          .pink-circle {
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        .myeloid-scientific-resources-wrapper {
          position: absolute;
          top: 28%;
          left: 48.5%;
          width: 11.5%;
          height: 24%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          span {
            font-size: 1.5rem;
            max-width: 100px;
            text-align: center;
            line-height: 1.25;
          }

          .pink-circle {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }

      .myeloid-disease-main-area-wrapper, .multiple-myeloma-main-area-wrapper, .lymphoma-main-area-wrapper, .cereblon-modulation-main-area-wrapper, .car-t-main-area-wrapper {
        h1 {
          left: 4.5%;
          top: 7%;
          width: 59%;
          height: 11%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .myeloid-disease-main-area-wrapper {
        .medical-information-wrapper {
          left: 61.5%;
        }
      }

      .lymphoma-main-area-wrapper {
        .medical-information-wrapper {
          left: 60.75%;
        }
      }

      .multiple-myeloma-main-area-wrapper {
        .medical-information-wrapper {
          left: 60%;
        }
      }

      .cereblon-modulation-main-area-wrapper {
        .medical-information-wrapper {
          left: 60.5%;
        }
      }
    }
  }

  .hematology-our-research-footer {
    height: 11%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    p.copyright-info {
      margin: 0;
      font-size: 1.25rem;
    }

    .back-to-home {
      position: absolute;
      left: 1rem;
      bottom: calc(50% - 20px);
      height: 41px;
      width: 236px;

      img {
        margin: 0 1rem 0 0;
      }
    }

    .privacy-policy-btn {
      position: absolute;
      bottom: calc(50% - 20px);
      right: 1rem;
      height: 41px;
    }
  }
}

.hematology-our-educational-resources-wrapper {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vw / 1.77777778);

  .hematology-our-educational-resources-header {
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-wrapper {
      position: absolute;
      left: 2%;
      max-height: 100%;

      img {
        height: 100%;
      }
    }
  }

  .main-area {
    height: 80%;
    width: 100%;
    position: relative;

    .main-area-wrapper {
      width: 100%;
      height: 100%;
      padding: 0 7%;
      position: absolute;

      .main-area-wrapper-inner {
        width: 100%;
        height: 100%;
        position: relative;

        h1 {
          position: absolute;
          top: 7%;
          left: 4.5%;
          width: 58.5%;
          height: 11%;
          font-size: 3.25rem;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .clinical-nurse-connections-wrapper {
          position: absolute;
          top: 38%;
          left: 7.75%;
          width: 13%;
          height: 56%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .coming-soon {
            color: $pink-color;
          }

          h2 {
            font-size: 2.5rem;
            line-height: 1.25;
            margin: 60% 0 0.5rem;
          }

          p {
            margin: 0;
            font-size: 1.25rem;
          }
        }

        .contact-us-wrapper {
          position: absolute;
          top: 24%;
          left: 42.25%;
          width: 11.25%;
          height: 19%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          span {
            color: $pink-color;
            display: block;
            line-height: 1.25;
            font-size: 1.5rem;
          }

          .pink-circle {
            position: absolute;
            top: 5%;
            right: 10%;
          }
        }

        .link-wrapper {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 1rem 3rem 0;

          h2 {
            font-size: 1.75rem;
            margin: 0;
          }

          .pink-circle {
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        .multiple-myeloma-wrapper {
          top: 11.5%;
          left: 70%;
          width: 23%;
          height: 10.5%;
        }

        .myelodysplastic-syndromes-wrapper {
          top: 24.5%;
          left: 70%;
          width: 23%;
          height: 11.5%;
        }

        .acute-myeloid-leukemia-wrapper {
          top: 38.5%;
          left: 70%;
          width: 23%;
          height: 11%;
        }

        .car-t-wrapper {
          top: 51.5%;
          left: 70%;
          width: 23%;
          height: 10.5%;
        }

        .lymphoma-wrapper {
          top: 65.5%;
          left: 70%;
          width: 23%;
          height: 10.5%;
        }
      }
    }
  }

  .hematology-our-educational-resources-footer {
    height: 11%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    p.copyright-info {
      margin: 0;
      font-size: 1.25rem;
    }

    .back-to-home {
      position: absolute;
      left: 1rem;
      bottom: calc(50% - 20px);
      height: 41px;
      width: 236px;

      img {
        margin: 0 1rem 0 0;
      }
    }

    .privacy-policy-btn {
      position: absolute;
      bottom: calc(50% - 20px);
      right: 1rem;
      height: 41px;
    }
  }
}

.hematology-educational-resources-modal-wrapper {
  .modal-dialog {
    max-width: max-content;

    .modal-content {
      border-radius: 0.75rem;

      .modal-header {
        border-bottom: 0;
        padding: 1.5rem;
        display: flex;
        justify-content: flex-end;

        button {
          color: $pink-color;
          opacity: 1;
          padding: 0;
          margin: 0;
          height: 14px;
          width: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2.5rem;
          font-weight: 300;
        }
      }

      .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem 8rem;

        h2.hematology-section-name {
          font-size: 48px;
          margin: 0 0 1rem;
        }

        hr {
          border-top: 2px solid $pink-color;
          border-bottom: 2px solid $pink-color;
          width: 106px;
          border-radius: 4px;
        }

        ul.hematology-modal-links {
          padding: 0;
          margin: 2rem 0 0;

          li {
            list-style-type: none;

            &:not(:last-of-type) {
              margin: 0 0 1rem;
            }

            a {
              font-size: 22px;
              color: #ffffff;
              font-weight: 700;
              background: #A59F9F;
              border-radius: 20px;
              height: 46px;
              width: 464px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              border: none;
              line-height: 1;

              img {
                position: absolute;
                right: 1.25rem;
              }
            }
          }

        }
      }
    }
  }
}

.hematology-medicines-modal-wrapper {
  .modal-dialog {
    max-width: 80vw;
    width: max-content;
    min-width: 500px;

    .modal-content {
      border-radius: 0.75rem;

      .modal-header {
        border-bottom: 0;
        padding: 1.5rem 1.5rem 0;
        display: flex;
        justify-content: flex-end;

        button {
          color: $pink-color;
          opacity: 1;
          padding: 0;
          margin: 0;
          height: 14px;
          width: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2.5rem;
          font-weight: 300;
        }
      }

      .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 3rem;

        img {
          max-width: 100%;
        }

        .general-section-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .button-pink {
            margin: 1.5rem 0 0.5rem;
          }
        }

        .detailed-section-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 1.5rem 8rem 4rem;

          hr {
            border-top: 2px solid $pink-color;
            border-bottom: 2px solid $pink-color;
            background-color: $pink-color;
            width: 106px;
            border-radius: 4px;
            margin: 2rem 0;
          }

          p {
            font-size: 18px;

            a {
              color: #595454;
              text-decoration: underline;
            }
          }

          .details-link {
            min-width: 600px;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

.video-section-wrapper {
  max-width: 80vw;

  a.video-link-bottom {
    font-size: 22px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: #595454;
    margin: 2rem 0 1.5rem;
    text-decoration: underline;
    line-height: 1;
  }

  p {
    text-align: center;
    font-size: 18px;

    a {
      color: #595454;
      text-decoration: underline;
    }
  }
}

.vimeo-wrapper {
  .embed-vimeo-content {
    width: 80vw;
    height: calc(80vw / 1.7777778);

    max-width: 100%;
    border: none;
  }
}

@media (max-width: 1440px) {
  .carousel-homepage {
    .carousel-slide {
      .home-slide-2-not-patient {
        right: 2%;
        font-size: 16px;
      }

      .home-slide-3-not-patient {
        right: 1%;
        font-size: 16px;
      }
    }
  }

  .hematology-our-medicines-wrapper {
    .main-area {
      .main-area-wrapper {
        .main-area-wrapper-inner {
          h1 {
            font-size: 2.5rem;
          }
        }
      }
    }

    .hematology-our-medicines-footer {
      p.info {
        font-size: 1.25vw;
        line-height: 1;
      }

      p.copyright-info {
        font-size: 1rem;
      }
    }
  }

  .hematology-our-research-wrapper {
    .main-area {
      .main-area-wrapper {
        .main-area-wrapper-inner {
          h1 {
            font-size: 2.5rem;
          }

          .scientific-resources-wrapper {
            span {
              font-size: 1.25rem;
            }
          }

          .medical-information-wrapper {
            span {
              font-size: 1.5rem;
            }
          }

          .link-wrapper {
            h2 {
              font-size: 1.5rem;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .hematology-our-educational-resources-wrapper {
    .main-area {
      .main-area-wrapper {
        .main-area-wrapper-inner {
          .clinical-nurse-connections-wrapper {
            h2 {
              font-size: 2rem;
              margin: 0;
            }

            p {
              font-size: 1rem;
            }
          }

          .link-wrapper {
            padding: 0.5rem 3rem 0;

            h2 {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }

  .carousel-our-medicines {
    .banner-io-teach-gradient {
      background-size: inherit;
    }
  }
}

@media (max-width: 1024px) {
  .carousel-homepage {
    .carousel-slide {
      .home-slide-2-not-patient {
        font-size: 12px;
      }

      .home-slide-3-not-patient {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
